$DwYellow: #FDB913;
$DwLightGray: #4B4B4B;
$DwMediumGray: #414141;
$DwBoldGray: #2D2D2D;
$DwFont: "Exo", serif;

$Vermelho: red;
$Verde: rgb(91, 248, 0);



.Background{
    position:relative;
    left: 300px;
}


.Area{
    margin-top: 2em;
    .AreaContent{
        background-color: $DwMediumGray;
        height: 20em;
        width: 45em;
        border-radius: 1em;

    }
    
    .TitleArea{
        display: flex;
        height: 2em;
        align-items: center;
        
    }

    .table {
        text-align: center;
        height: 90%;
    
        .itemTable {
            height: 3em;
            transition: 0.25s;
            position: relative; 
            cursor: pointer;
    
            &:nth-child(odd) {
                background-color: $DwLightGray;
    
                &:hover {
                    transform: scale(1.01);
                }
            };
    
            &:nth-child(even) {
                background-color: $DwMediumGray;
    
                &:hover {
                    transform: scale(1.01);
                }
            }
        }

        .buttonColumn{
            width: 10%;

            button{
                background-color: $DwYellow;
                width: 3em;
                border: 2px solid transparent;
                color: $DwMediumGray;
                border-radius: 10px;
                transition: 0.25s;
                font-size: 20px;
                margin-right: 30px;
        
                &:hover{
                    background-color: $DwLightGray;
                    border: 2px solid $DwYellow;
                    color: white;
                    border-radius: 10px;

                    
                }
            }
        }
    }
}    

.Inativa{
    color: red;
}

.Concluida{
    color: rgb(91, 248, 0);
}

.Pendente{
    color: $DwYellow;
}

