$DwYellow: #FDB913;
$DwLightGray: #4B4B4B;
$DwMediumGray: #414141;
$DwBoldGray: #2D2D2D;
$DwFont: "Exo", serif;

$Vermelho: red;
$Verde: rgb(91, 248, 0);



.BackgroundTasks{
    position:relative;
    margin-left: 300px;

    
    .Area{
        margin-top: 2em;
        .AreaContent{
            background-color: $DwMediumGray;
            height: auto;
            width: 100%;
            border-radius: 1em;
            padding:20px;

            .pagination{
                font-size: 20px;
                justify-content: center;
                align-items: center;

                span{
                    color: $DwYellow;
                    margin-left: 30px;
                    margin-right: 30px;
                }

                button{
                    background-color: $DwYellow;
                    border: none;
                    height: 40px;
                    width: 40px;
                    border-radius: 100%;

                }
            }

    
        }

        .TaskExpandida{
            .backgroundExpandedTask{
                padding: 20px;
                background-color: $DwMediumGray;
                border:1px solid $DwYellow;
                text-align: left;
                margin-top: 1em;
                margin-bottom: 1em;
                border-radius: 1em;
                color: white;

                .infoTask{
                    display: flex;
                    justify-content: space-between;
                    margin-top: 2em;
                }
            }
        }


        .StatusFilter{
            flex-direction: column;

            .buttonGroup{
                display: flex;
                gap: 10px;
                align-items: center;
                button{
                    background-color: $DwLightGray;
                    color: $DwYellow;
                    border: 3px solid $DwYellow;
                    width: auto;
                    height: 40px;
                    border-radius: 1em;
                    font-weight: bold;
                    transition: 0.25s;
                    

                }
                .ButtonActive{
                    background-color: $DwYellow;
                    color: $DwLightGray;
                    border: 3px solid $DwYellow;
                    transform: scale(0.9);
                    font-weight: bold;

                }
            }
        }

        .ProgressFilter {
            display: flex;
            flex-direction: column;
        }
        .pagesQtd{
            flex-direction: column;

            .buttonGroup{
                display: flex;
                gap: 10px;
                align-items: center;

                button{
                    background-color: $DwLightGray;
                    color: $DwYellow;
                    border: 3px solid $DwYellow;
                    width: 40px;
                    height: 40px;
                    border-radius: 1em;
                    font-weight: bold;
                    transition: 0.25s;

                }
                .ButtonActive{
                    background-color: $DwYellow;
                    color: $DwLightGray;
                    border: 3px solid $DwYellow;
                    transform: scale(0.9);
                    font-weight: bold;

                }
            }
        }
        
        .TitleArea{
            display: flex;
            height: 2em;
            align-items: center;
            
        }

        .FiltersArea{
            display: flex;
            align-items: center;
            justify-content:space-between;
            font-weight: bold;
        }
    
    }
    
    .inputArea{
        padding: 10px;
        display: flex;
        justify-content:stretch;
        flex-wrap:wrap;
    }
    
    .footerForm{
        padding: 10px;
    
        button{
            background-color: $DwYellow;
            border: 2px solid transparent;
            padding: 10px;
            color: $DwMediumGray;
            border-radius: 10px;
            margin: 10px;
            transition: 0.25s;
    
            &:hover{
                background-color: $DwLightGray;
                border: 2px solid $DwYellow;
                padding: 10px;
                color: white;
                border-radius: 10px;
            }
        }
    }

    .buttonGroup{
        display: flex;
        gap: 10px;
        align-items: center;
        button{
            background-color: $DwLightGray;
            color: $DwYellow;
            border: 3px solid $DwYellow;
            width: 40px;
            height: 40px;
            border-radius: 1em;
            font-weight: bold;
            transition: 0.25

         }
         .ButtonActive{
            background-color: $DwYellow;
            color: $DwLightGray;
            border: 3px solid $DwYellow;
            transform: scale(0.9);
            font-weight: bold

         }
    }


    .subtasksArea{

        table{
            text-align: left;
        }
        .buttonGroupStages{
            margin-bottom: 20px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap:20px;

            .ButtonDisabled{
                background-color: rgba(254, 85, 85, 0.2);
                color: white;
                border: 3px solid rgba(254, 85, 85, 0.2);
                width: auto;
                height: 3em;
                border-radius: 1em;
                font-weight: bold;
                transition: 0.25;
                transform: scale(0.95);
            }

            .ButtonFinish{
                background-color: rgb(87, 255, 128);
                color: white;
                border: 3px solid rgb(87, 255, 128);
                width: auto;
                height: 3em;
                border-radius: 1em;
                font-weight: bold;
                transition: 0.25
            }
    
            button{
                background-color: $DwLightGray;
                color: $DwYellow;
                border: 3px solid $DwYellow;
                width: auto;
                height: 3em;
                border-radius: 1em;
                font-weight: bold;
                transition: 0.25
    
            }
            .ButtonActive{
                background-color: $DwYellow;
                color: $DwLightGray;
                border: 3px solid $DwYellow;
                transform: scale(0.9);
                font-weight: bold
    
            }
        }
    }

    
}

.file-preview{
    margin-top:20px;
    margin-bottom:30px;


    img{
        height: 200px;
        border: $DwLightGray 1em solid;
        border-radius: 1em;
    }
                        
}

.file-input-container{
    margin-top:20px;
    margin-bottom:30px;


    .file-actions{
        display: flex;
        gap: 1em;
        button{
            margin-top: 10px;
            background-color: $DwYellow;
            border: none;
            color: $DwMediumGray;
            border: 2px solid $DwYellow;
            border-radius: 10px;
            padding: 10px;
            transition: 0.25s;


            &:hover{
                background-color: $DwMediumGray;
                color: $DwYellow;
                border: 2px solid $DwYellow;
                border-radius: 10px;
                padding: 10px;
                transform: scale(0.95);
            }
        }
    }
}

.backgroundExpandedTask{
    button{
        margin-top: 10px;
        background-color: $DwYellow;
        border: none;
        color: $DwMediumGray;
        border: 2px solid $DwYellow;
        border-radius: 10px;
        padding: 10px;
        transition: 0.25s;


        &:hover{
            background-color: $DwMediumGray;
            color: $DwYellow;
            border: 2px solid $DwYellow;
            border-radius: 10px;
            padding: 10px;
            transform: scale(0.95);
        }
    }

}

#modalImage{
    height: 400px;
}

.fileModal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    flex-direction: column;
}

#download-button{
    margin-top: 2em;
        background-color: $DwYellow;
        border: none;
        color: $DwMediumGray;
        border: 2px solid $DwYellow;
        border-radius: 10px;
        padding: 10px;
        transition: 0.25s;


        &:hover{
            background-color: $DwMediumGray;
            color: $DwYellow;
            border: 2px solid $DwYellow;
            border-radius: 10px;
            padding: 10px;
            transform: scale(0.95);
        }
}

#finalizaFaseButton{
    width: 100%;
}


