$DwYellow: #FDB913;
$DwLightGray: #4B4B4B;
$DwMediumGray: #414141;
$DwBoldGray: #2D2D2D;
$DwFont: "Exo", serif;

$Vermelho: red;
$Verde: rgb(91, 248, 0);



.BackgroundForm{
    position:relative;
    margin-left: 300px;
}


.Area{
    margin-top: 2em;
    .AreaContent{
        background-color: $DwMediumGray;
        height: 20em;
        width: 45em;
        border-radius: 1em;

    }
    
    .TitleArea{
        display: flex;
        height: 2em;
        align-items: center;
        
    }

}

.inputArea{
    padding: 10px;
    display: flex;
    justify-content:stretch;
    flex-wrap:wrap;
}

.footerForm{
    padding: 10px;

    button{
        background-color: $DwYellow;
        border: 2px solid transparent;
        padding: 10px;
        color: $DwMediumGray;
        border-radius: 10px;
        margin: 10px;
        transition: 0.25s;

        &:hover{
            background-color: $DwLightGray;
            border: 2px solid $DwYellow;
            padding: 10px;
            color: white;
            border-radius: 10px;
        }
    }
}
