$DwYellow: #FDB913;
$DwLightGray: #4B4B4B;
$DwMediumGray: #414141;
$DwBoldGray: #2D2D2D;
$DwFont: "Exo", serif;

.Content{
    display: flex;
}

.navHeader{
    height: 10em;
    display: flex;
    align-items: center;
    margin-left: 1em;
}

.HighlightText{
    color: $DwYellow;
    font-weight: bold;
};

.navBackground{
    background-color: $DwMediumGray;
    height: 100vh;
    width: 45vh;
    border-top-right-radius:1em;
    border-bottom-right-radius:1em;
    position:fixed;

};

.dwLogo{
    display: flex;
    height: 6em;
}

.UserText{
    display: flex;
    flex-direction:column;
    margin-left: 1em;
    
}

.NormalText{
    color: white
}

.navItem{
    display: flex;
    background-color: $DwLightGray;
    padding-left: 2em;
    height: 4em;
    align-items: center;
    transition: 0.25s;

    .ItemIcon{
        font-size: 2em;
        margin-right: 20px;
    }

    &:hover{
        background-color: $DwMediumGray;
    }
}


